<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gaoshuai.mapper.UserMapper">
    <!-- 根据id获取用户信息 -->
    <!--<select id="findUserById" parameterType="int" resultType="gaoshuai.pojo.User">-->
        <!--select * from user where id = #{id}-->
    <!--</select>-->
    <!-- 根据username模糊查询用户信息 -->
    <!--<select id="findUserByName" parameterType="java.lang.String" resultType="gaoshuai.pojo.User">-->
        <!--select * from user where username like '%${value}%'-->
    <!--</select>-->
    <!-- 添加用户信息 -->
    <insert id="insertUser" parameterType="gaoshuai.pojo.User">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into user(id,username,sex) values (#{id},#{username},#{sex});
    </insert>
    <!--&lt;!&ndash; 根据id删除用户信息 &ndash;&gt;-->
    <!--<delete id="deleteUser" parameterType="int">-->
        <!--delete from hello where id=#{id}-->
    <!--</delete>-->
    <!--&lt;!&ndash; 修改用户信息 &ndash;&gt;-->
    <!--<update id="updateUser" parameterType="gaoshuai.pojo.User">-->
        <!--update hello set username=#{username},sex=#{sex}-->
        <!--where id=#{id}-->
    <!--</update>-->
</mapper>